{% extends "base.html" %}
{% load i18n %}

{% block content %}

{% if validlink %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="{% trans "Confirm Password Reset" %}" />
</form>

{% else %}

<p>{% trans "Password reset failed." %}</p>

{% endif %}

{% endblock %}
